

@keyframes throwAnimation {
  0% {
    animation-timing-function: ease-in-out;
  }
  20% {
    transform: translateX(-50px) translateY(-100px) rotate(-120deg);
    animation-timing-function:  cubic-bezier(.63,-0.31,.5,.58);
  }
  70% {
    transform: translateX(3000px) translateY(-1500px) rotate(1080deg);
    //animation-timing-function: linear;
  }
  71% {
    transform: translateX(-3000px) translateY(-1500px) rotate(-1080deg);
    //animation-timing-function: linear;
    animation-timing-function: cubic-bezier(.3,.26,.6,1.14);
  }
}

.titleAnimation:hover {
  width: fit-content;

  h1 {
    animation: 4s throwAnimation linear;
  }
}
